/* ----- element section ------------- */
@media (max-width: 340px) {
  html {
    font-size: 70%; /* around 7px base */
  }
  h2 {
    font-size: 2rem;
  }
}

/* -------- component section ------- */

/* year header sticky postion */

@media (max-width: 549px) {
  .year-header {
    position: sticky;
    top: 10rem;
  }
}

/* nav menu position */
@media (max-width: 426px) {
  .navigation-wrap {
    right: 2rem;
    bottom: 5rem;
  }

  .navigate-top-wrap {
    right: 3rem;
    bottom: 10rem;
  }

  .navigate-project-list-wrap {
    right: 3rem;
    bottom: 5rem;
  }
}

/* ---------------------- Hero Section----------------------- */

/* small laptop */
@media (max-width: 1200px) {
  html {
    /* font-size: 50%;  */
    font-size: 60%;
  }

  .hero-section {
    column-gap: 5rem;
  }

  .hero-profile-image {
    max-width: 40rem;
    height: auto;
  }
}

/* tablet portrait */
@media (max-width: 975px) {
  html {
    font-size: 70%; /* around 8px base */
  }
}

/* large mobile phone */
@media (max-width: 638px) {
  .hero-section {
    grid-template-columns: 1fr;
    height: 82vh;
  }

  .hero-profile-image {
    align-self: end;
    justify-self: center;
  }

  .hero-intro {
    justify-items: center;
    align-items: center;
    justify-self: center;
    align-self: start;
  }

  .hero-btn-container {
    justify-self: center;
    justify-content: center;
    margin: 0;
  }
}

/*---------------- Portfolio Section --------------------------- */
@media (max-width: 446px) {
  .portfolio-card {
    min-height: 60rem;
  }
}

/* ------------------------ Resume Section --------------------- */

@media (max-width: 740px) {
  /* go back original layout template col 1fr */
  .img-swap-text {
    grid-column: 1;
    grid-row: 1/4;
  }
  .resume-post-container {
    grid-template-columns: 1fr;
  }

  .resume-post-header {
    grid-row: 1; /* top */
  }

  .resume-tags {
    grid-row: 2;
  }

  .resume-img-container {
    grid-row: 3;
  }

  .resume-letter-container {
    grid-row: 4;
  }
  .post-letter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media (max-width: 930px) {
  .resume-post-container {
    column-gap: 2rem;
  }

  .resume-img-container img {
    max-width: 50rem;
    align-content: center;
  }
}

@media (max-width: 867px) {
  .resume-post-container {
    column-gap: 2rem;
  }

  .resume-img-container img {
    max-width: 46rem;
    align-content: center;
  }
}

@media (max-width: 830px) {
  .resume-img-container img {
    max-width: 42rem;
    align-content: center;
  }
}

@media (max-width: 794px) {
  .resume-img-container img {
    max-width: 36rem;
    align-content: center;
  }
}

@media (max-width: 530px) {
  html {
    font-size: 52%; /* around 7px */
  }

  .resume-img-container img {
    max-width: 45rem;
    align-content: center;
  }
}

@media (max-width: 430px) {
  .resume-img-container img {
    max-width: 44rem;
  }

  .resume-img-container {
    padding-left: 0.5rem padding-right 0.5rem;
  }
}

@media (max-width: 420px) {
  .resume-img-container img {
    max-width: 40rem;
  }

  .resume-img-container {
    padding-left: 1rem padding-right 1rem;
  }
}

@media (max-width: 396px) {
  .resume-img-container img {
    max-width: 38rem;
  }

  .resume-post-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  h2 {
    font-size: 2.8rem;
  }
}

@media (max-width: 340px) {
  .resume-img-container img {
    max-width: 32rem;
  }

  .resume-post-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
/* -------------- footer section --------------- */

/* @media (max-wdith: 648px) {
  .contact-section {
    min-height: 60rem;
  }
} */
