.navigation-wrap {
  position: fixed;
  z-index: 9999;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;

  min-width: 4rem;
  min-height: 4rem;
  border-radius: 20%;
  background: radial-gradient(
    62.5% 62.5% at 50% 43.75%,
    rgba(159, 159, 159, 0.33) 20%,
    rgba(159, 159, 159, 0.62) 100%
  );
}

.navigate-top-wrap {
  right: 4rem;
  bottom: 10rem;
}

.navigate-project-list-wrap {
  right: 4rem;
  bottom: 5rem;
}

.navigation-wrap .header-icon {
  width: 2.8rem;
  text-shadow: var(--project-card-text-shadow);
}

/* ------------- header section ------------------- */
.project-header-container {
  width: 100%;
  margin: 0 auto;
  position: sticky;
  top: 0;
  padding: 1rem 6%;
}

/*----------       details section ----------------------------------- */
.resume-section {
  height: auto;
  width: 90%;
  max-width: 120rem;
  margin: 0 auto;
  position: relative;
  /* overflow: hidden; */
  padding-bottom: 3rem;
}

.resume-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
  padding: 3rem 0;
  /* min-height: max-content; */
}

.resume-tags li,
.resume-tags li a {
  min-width: max-content;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.resume-post-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;

  padding: 2rem 3rem;
  margin-bottom: 1.5rem;
  column-gap: 3.5rem;
  row-gap: 1.5rem;
  align-items: center;

  /* background-color: var(--secondary-color-lighter);
  border: 0.05rem #ededed;
  border-radius: 1rem; */
}

.img-swap-text {
  grid-column: 2;
  grid-row: 1/4;
}

.resume-img-swap-container {
  /* grid-template-columns: 3fr 2fr; */
  grid-template-columns: 1fr auto;
}

.resume-img-container {
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  place-items: center;
}

.resume-img-container img {
  display: block;
  width: auto;
  height: auto;
  max-width: 55rem;
  /* width: 100%; */
}

.resume-post-header {
  align-self: end;
  font-weight: var(--font-weight-semi-bold);
  color: var(--brand-color-base);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.post-letter {
  margin-bottom: 1rem;
}

/* -------------- project galllary section ------------- */
.project-gallary-section {
  width: 80%;
  max-width: 120rem;
  height: auto;
  /* min-height: max-content; */
  padding: 2rem auto;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.gallary-section-header {
  justify-self: center;
  padding: 2rem;
  color: var(--brand-color-base);
}

.portfolio-card {
  min-height: 40rem;
  min-width: 30rem;
  flex: 1 0 0;

  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    url(images/portfolio/project1.png) lightgray 50% / cover no-repeat;
}

.card-one {
  background: url(images/portfolio/project1.png) lightgray 50% / cover no-repeat;
}

.card-two {
  background: url(images/portfolio/project2.png) lightgray 50% / cover no-repeat;
}

.card-three {
  background: url(images/portfolio/project3.png) lightgray 50% / cover no-repeat;
}

.card-four {
  background: url(images/portfolio/project4.png) lightgray 50% / cover no-repeat;
}

.portfolio-card-container {
  display: flex;
  height: auto;
  padding: 0 0 1.6rem 0;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  gap: 1.6rem;
  align-self: stretch;
  flex-wrap: wrap;
}
